ul {
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    position: relative;
   /**/ background-image: url('http://localhost:90/lhdi/images/bitmap.png');
   margin-right: 5px;
   width: 100px;
   background-repeat: repeat-x;
}

ul ul {
    position: absolute;
    display: none;
}

li:hover ul {
    display: block;
}
a:link {
   color: white; 
}

a:visited {
    color: yellow;
}
/*
body {
    background-color:  blue;
}
*/